.global {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio {
    margin-top: -7%;
    margin-left: 1%;
    font-size: 40px;
    font-family: "Metal Mania";
}

.carrinhoIcon {
    margin-right: 5%;
    margin-top: 2%;
}

.comprar_botao {
    background-color: #000;
    color:#fff;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-left: 200px;

}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.container2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.img_compra {
    width: 200px;
    height: auto;
}

.comprar_div {
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    align-items: flex-end;

}

.linha {
    height: 1px;
    background-color: #000;
}

.preco {
    font-size: 25px;
    
}

.text_div span,
.container span {
margin-top: 5px;
display: block;
height: 30px;
}


.text_div input,
.container input {
margin-top: 5px;
display: block;
height: 30px;
}

