body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5ch;
    border-color: aliceblue;
}
.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.campo_secundario {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
  
}
.campo_secundario input{
    border-radius: 10px;
    border: solid 3px green;
}
.campo input{
    border-radius: 10px;
    border: solid 3px green;
}
.campo_secundario > div {
    flex: 1; 
    display: flex;
    flex-direction: column; 
}
.img-direita {
    float: right;
    margin-left: 20px; 
    width: 200px; 
}
