body {
    font-family: Arial, sans-serif;
}

#openPopupBtn {
    padding: 10px 20px;
    font-size: 16px;
}

.popup {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.popup-content {
    background-color: #000;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: rgb(255, 255, 255);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#title{
    font-size: 1.5rem;
    margin-top: 10px;
}

.inputs-config{
    background-color: transparent;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: #369036;
    border-radius: 4px;
    height: 1.5rem;
}

#margin-top{
    margin-top: 2rem;
}

#inputs-shorts{
    margin-top: 10px;
    width: 40%;
}

#inputs-large{
    margin-top: 10px;
    width: 84%;
}

.inputs-config::placeholder {
        content: attr(placeholder);
        position: absolute;
        left: 10px;
}

.cadastro {
    color: white;
    border: 0px;
    border-style: solid;
    background-color: #369036;
    border-radius: 4px;
    height: 1.5rem;
    width: 85%;
    margin-top: 4rem;
}

