body{
    font-family: Arial, sans-serif;
}

.bordasdiv1{
    border: 1px;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
}
.bordasdiv2{
    border: 1px;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
}
.bordasdiv3{
    border: 1px;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
}
.bordasdiv4{
    border: 1px;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
}
img{
    margin-top: 5px;
    height: 35px;
    width: 35px;
    margin-left: 5px;
}
.padrao p{
    margin-left: 15px;
}
.grid-container{
    display: grid;
    grid-template-columns: 280px auto;
}
.conteudo{
    display: flex;
    width: 100%;
    height: 35px;
}
#bordinha{
    margin-left: 10px;
}