body{
    font-family: Arial, sans-serif;
    padding-left: 3rem;
}

.bordasdiv1{
    border: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
    cursor: pointer;
}
.bordasdiv1:hover,
.bordasdiv1:focus{
    background-color: #DBDBDB;
    text-decoration: none;
}
.bordasdiv2{
    border: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
    cursor: pointer;
}
.bordasdiv2:hover,
.bordasdiv2:focus{
    background-color: #DBDBDB;
    text-decoration: none;
}
.bordasdiv3{
    border: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
    cursor: pointer;
}
.bordasdiv3:hover,
.bordasdiv3:focus{
    background-color: #DBDBDB;
    text-decoration: none;
}
.bordasdiv4{
    border: 1px;
    border-style: solid;
    border-color: #369036;
    height: 45px;
    width: 250px;
    display: flex;
    cursor: pointer;
}
.bordasdiv4:hover,
.bordasdiv4:focus{
    background-color: #DBDBDB;
    text-decoration: none;
}
img{
    margin-top: 5px;
    height: 35px;
    width: 35px;
    margin-left: 5px;
}
.padrao p{
    margin-left: 15px;
}
.grid-container{
    display: grid;
    grid-template-columns: 280px auto;
}
.conteudo{
    display: flex;
    width: 100%;
    height: 35px;
    padding-bottom: 4px;
    padding-left: 1.5rem;
}
#bordinha{
    margin-left: 10px;
}
.linhaPequena{
    width: 30%;
    margin-left: 0;
}
.opcoes{
    margin-left: 3rem;
    display: grid;
    grid-template-columns: 8rem 9rem 10rem 9rem 9rem;
}
.linhaGrande{
    width: 80%;
    margin-left: 0;
}
.endereco{
    margin-left: 0%;
    display: grid;
    grid-template-columns: 24rem 18rem;
}
.ane {
    color: white;
    border: 0px;
    border-style: solid;
    background-color: #369036;
    border-radius: 4px;
    height: 2rem;
    width: 10rem; 
    cursor: pointer;
}
.conteudo2{
    display: grid;
    grid-template-columns: 5% 70% 20%;
    height: 35px;
    padding-bottom: 4px;
    padding-left: 1.5rem;
}
