body {
    font-family: Arial, sans-serif;
}

#openPopupBtn {
    padding: 10px 20px;
    font-size: 16px;
}

/* POPUP */

#openPopupBtn1 {
    padding: 10px 20px;
    font-size: 16px;
}

.popup1 {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.popup-content1 {
    background-color: #000;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: rgb(255, 255, 255);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#title{
    font-size: 1.5rem;
    margin-top: 10px;
}

.inputs-config{
    background-color: transparent;
    margin: 2px;
    border: 1px;
    border-style: solid;
    border-color: #369036;
    border-radius: 4px;
    height: 2rem;
    color: rgb(255, 255, 255);
}

#margin-top{
    margin-top: 2rem;
}

#inputs-shorts{
    margin-top: 10px;
    width: 40%;
}

#inputs-large{
    margin-top: 10px;
    width: 84%;
}
#inputs-large1{
    width: 84%;
}

.inputs-config::placeholder {
        content: attr(placeholder);
        position: absolute;
        left: 10px;
}

.login {
    font-family: "Playfair Display", serif;
    font-size: 45px;
}

.loginalign {
    text-align: left;
    margin-top: 6px;
    margin-left: 40px;
}

.loginalign1 {
    text-align: left;
    margin: 0;
    margin-left: 40px;
}

.loginalign2 {
    text-align: left;
    margin: 0;
    margin-top: 10px;
    margin-left: 40px;
}

.cadastro {
    color: white;
    border: 0px;
    border-style: solid;
    background-color: #369036;
    border-radius: 4px;
    height: 2rem;
    width: 85%;
    margin-top: 4rem;
    cursor: pointer
}

.proximobutton {
    color: white;
    border: 2px;
    border-style: solid;
    border-color: #369036;
    background-color: #000000;
    border-radius: 4px;
    height: 2.5rem;
    width: 25%;
    margin-top: 4rem;
    cursor: pointer
}

.proximobutton1 {
    text-align: right;
    margin-right: 40px;
    cursor: pointer
}

.proximoenviar {
    color: white;
    border: 2px;
    border-style: solid;
    border-color: #369036;
    background-color: #000000;
    border-radius: 4px;
    height: 2.5rem;
    width: 84%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    cursor: pointer
}

.blocksconfig {
    margin-left: 35px;
    display: grid;
    grid-template-columns: auto auto;

}

.greenblocks {
    background-color: transparent;
    margin: 2px;
    border: 1px;
    border-style: solid;
    border-color: #369036;
    border-radius: 6px;
    height: 6.5rem;
    width: 12rem;
    color: rgb(255, 255, 255);
}

#inputs-bigger {
    width: 84%;
    height: 10rem;
    text-align: justify;
}

.alinhamento {
    margin-left: 2.5rem;
    text-align: left;
    margin-top: 4rem;
}

.temporario {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.temporario1 {
    text-align: left;
}

#margin {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.popup {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #000;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
    height: 60%;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: rgb(255, 255, 255);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rastreamento1 {
    display: grid;
    grid-template-columns: 10rem 15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    margin: 2px;
    border: 1px;
    border-style: solid;
    border-color: #369036;
    border-radius: 6px;
    height: 3rem;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: small;
}

.rastreamento2 {
    background-color: transparent;
    margin: 2px;
    border: 1px;
    border-style: solid;
    border-color: #369036;
    border-radius: 6px;
    height: auto;
    width: 31.1rem;
    color: rgb(255, 255, 255);
    font-size: small;
    text-align: left;
}
.numDeRast {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 18rem 8rem 1rem;
}

#copias {
    color: #369036;
}
#copias:hover {
    cursor: pointer;
}
.rastreamento3 {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 3rem 2rem 4rem;
}
.rastreamento4 {
    display: grid;
    grid-template-columns: 3rem 2rem 4rem;
    }